.checkbox {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr); /* 3 sütunluk bir grid oluştur */
  align-items: center;
}

.checkbox-container {
  display: flex;
  align-items: center;
}
