.navBarEn button {
  font-family: "Roboto Condensed";
  font-size: 1rem;
  display: flex;
  align-items: center;
  gap: 0.8rem;
  background-color: var(--primary-white);
  border: none;
  border-radius: 2rem;
  cursor: pointer;
  padding: 0.5rem 1.5rem;
}

.navBarEn button:hover {
  background-color: var(--primary-black);
  color: var(--primary-white);
}

.navBarEn {
  display: flex;
  justify-content: space-between;
  margin: 2rem 0;
}

@media (max-width: 600px) {
  .navBarEn {
    width: 25rem;
    padding: 0;
    align-items: center;
    align-self: center;
    flex-wrap: wrap;
    gap: 1rem;
  }
}