.tebrik-ekrani {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ce2829;
  text-align: center;
  color: #faf7f2;
  flex: 1 1 auto
}

.tebrik-ekrani h1 {
  font-family: "Roboto Condensed";
  font-weight: 300; /* Daha ince bir ağırlık */
  font-size: 4rem;
}

