.siparis-page {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
}

.aciklama-bilgi {
  display: flex;
  flex-direction: column;
  line-height: 2;
}

.yildiz-skor {
  display: flex;
  gap: 0.3rem;
}

.aciklama-bilgi p {
  text-align: justify;
}

.para-puan {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Barlow";
  color: var(--primary-grey);
}

.para-puan h1 {
  color: var(--primary-black);
}

.boyut-hamur {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.boyut {
  display: flex;
  flex-direction: column;
}

.boyut div {
  display: flex;
  gap: 1.5rem;
}

.siparis-notu {
  display: flex;
  flex-direction: column;
}

.siparis-notu textarea {
  height: 4rem;
  border-radius: 0.5rem;
}

.siparis-notu textarea::placeholder {
  /* Yatayda ortalar */
}

.divider {
  border-top: 1px solid #292929;
  margin: 2rem 0;
}

.adet-sayaci,
.gizli-adet-sayaci {
  display: flex;
  align-items: center;
  width: fit-content;
}

.adet-sayaci p,
.gizli-adet-sayaci p {
  background-color: var(--bg-white);
  flex: 1;
  margin: 0;
  padding: 0.9rem;
  justify-content: center;
}

.adet-sayaci button,
.gizli-adet-sayaci button {
  background-color: var(--bg-white);
  border: none;
  border-radius: 0.2rem;
  padding: 1rem;
  margin: 0;
  flex: 1;
  cursor: pointer;
}

/* sipariş toplamı deniyorum */

.siparis-hesap {
  background-color: var(--bg-white);
  border-radius: 0.3rem;
  padding: 2.5rem 2rem;
  display: flex;
  flex-direction: column;
  width: fit-content; /* İçerik boyutuna göre genişler */
}

.siparis-hesap h4 {
  font-size: 1.1rem;
  margin: 0 0 1rem;
  color: #333;
}

.siparis-hesap .row,
.siparis-hesap .row-total {
  display: flex;
  justify-content: space-between; /* Daha iyi hizalama için */
  gap: 10rem; /* Boşluk miktarını azalt */
}

.siparis-hesap .row span {
  color: #555;
}

.siparis-hesap .row-total {
  font-weight: bold;
}

.siparis-hesap .row-total span {
  color: #ce2829;
}

.siparis-fiyat-odeme {
  width: fit-content;
  display: flex;
  flex-direction: column;
}

.siparis-ver-tusu {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.siparis-ver-tusu button {
  background-color: #fdc913;
  font-family: "Roboto Condensed";
  cursor: pointer;
  border: none;
  border-radius: 0.3rem;
  padding: 0.7rem;
  flex-grow: 1;
}

.siparis-ver-asil {
  font-weight: 600;
  letter-spacing: 0.02rem;
  font-size: 1rem;
}

.odeme-bolumu {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.sayfa-yolu {
  display: flex;
}

.sayfa-yolu span {
  color: var(--primary-red);
}

.sayfa-yolu p {
  margin: 0;
  color: #faf7f2;
  padding: 0 2rem 1rem 2rem;
  width: 35rem;
}

.theSayfa {
  display: flex;
  flex-direction: column;
}

.gizli-adet-sayaci {
  display: none;
}

.isminiz {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.isminiz input {
  height: 1.5rem;
}

.uyari-ad {
  padding: 0;
  margin: 0;
  margin-top: 0.2rem;
  color: #ce2829;
}

/* iterasyon 2 */

.krema-arkaplan {
  background-color: var(--bg-white);
  padding: 0rem 24rem;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  font-family: "Roboto Condensed";
  letter-spacing: 0.01rem;
}

.kremasiz-arkaplan {
  padding: 0rem 24rem;
  padding-bottom: 7rem;
  font-family: "Roboto Condensed";
  letter-spacing: 0.01rem;
}

.krema-arkaplan img {
  align-self: stretch;
  width: 100%;
}

.krema-arkaplan h1,
.krema-arkaplan h2,
.kremasiz-arkaplan h1,
.kremasiz-arkaplan h2 {
  color: var(--primary-black);
}

/* Boyut seçimi */
.boyut-sec {
  display: flex;
  justify-content: space-between;
}

#kucukPizza,
#ortaPizza,
#buyukPizza {
  display: none;
}

.boyut-sec label {
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1;
  width: 3rem;
  margin: 0;
  background-color: var(--bg-white);
  cursor: pointer;
  border-radius: 2rem;
  text-align: center;
  color: var(--primary-grey);
}

.label-flex input[type="radio"]:checked + label {
  background-color: var(--primary-black);
  color: var(--primary-white);
}

/* Hamur Seçimi */

.hamur option {
  background-color: var(--bg-white);
  color: var(--primary-grey);
  letter-spacing: 0.01rem;
  border: none;
}

.hamur option:hover {
  background-color: var(--primary-grey);
  color: var(--primary-white);
}

.hamur select {
  letter-spacing: 0.01rem;
  background-color: var(--bg-white);
  border: none;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  width: 16rem;
  aspect-ratio: 5;
  color: var(--primary-grey);
}

/* Sipariş ve İsim arkaplanı */

.isminiz input,
.siparis-notu textarea {
  background-color: var(--bg-white);
  color: var(--primary-grey);
  border: none;
  border-radius: 0.4rem;
}

@media (max-width: 1130px) {
  .boyut-hamur {
    gap: unset;
    justify-content: space-between;
  }

  .adet-sayaci {
    display: none;
  }

  .siparis-hesap,
  .siparis-fiyat-odeme {
    width: unset;
    flex-grow: 1;
  }

  .gizli-adet-sayaci {
    display: flex;
    flex-grow: 1;
  }

  .siparis-ver-tusu {
    gap: 1rem;
    margin-top: 1rem;
  }

  .adet-sayaci p,
  .gizli-adet-sayaci p {
    padding: 0.8rem;
  }

  .krema-arkaplan,
  .kremasiz-arkaplan {
    padding: 0rem 2rem;
  }

  .kremasiz-arkaplan {
    padding-bottom: 2rem;
  }

  .siparis-hesap .row,
  .siparis-hesap .row-total {
    gap: 1rem; /* Daha küçük boşluklar kullanın */
  }

  .sayfa-yolu p {
    width: 100%; /* Ekran genişliğine göre ayarlanır */
  }
}
