.siparis-page {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 2rem;
  max-width: 35rem;
  margin: 0 auto;
}

.aciklama-bilgi {
  display: flex;
  flex-direction: column;
}

.yildiz-skor {
  display: flex;
  gap: 0.3rem;
}

.para-puan {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.boyut-hamur {
  display: flex;
  justify-content: flex-start;
  gap: 10rem;
  align-items: baseline;
}

.boyut {
  display: flex;
  flex-direction: column;
}

.boyut div {
  display: flex;
  gap: 0.2rem;
}

.siparis-notu textarea {
  min-width: 100%;
  height: 4rem;
  display: flex;
  border-radius: 0.5rem;
}

.siparis-notu textarea::placeholder {
  /* Yatayda ortalar */
}

.divider {
  border-top: 1px solid;
  margin: 2rem 0;
}

.counter {
  display: flex;
  align-items: center;
  align-content: center;
}

.counter p {
  display: flex;
  border: 1px solid black;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.counter p,
.counter button {
  width: 2rem;
  height: 2rem;
}
